@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans:
    var(--font-urbanist), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-gilroy: "Gilroy-Bold", sans-serif;
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist);
}

.font-gilroy {
  font-family: var(--font-gilroy);
}

.font-inter {
  font-family: var(--font-inter);
  font-weight: 700;
}
