@import "tailwindcss";

@theme {
  --color-brand-red: #ed1d25;
  --color-brand-grey: #c9c9c9;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-urbanist: var(--font-urbanist), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-gilroy: "Gilroy-Bold", sans-serif;
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-urbanist);
}

.font-gilroy {
  font-family: var(--font-gilroy);
}

.font-inter {
  font-family: var(--font-inter);
  font-weight: 700;
}
